@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.seven-box {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}
.seven {
  background-color: none;
  font-size: 300pt;
  color: red;
  animation-name: spin;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
