.author {
  border: black 1pt solid;
  padding-left: 5px;
  font-size: 13pt;
  height: 2em;
}
.search {
  border: black 1pt solid;
  padding-left: 5px;
  font-size: 13pt;
  height: 2em;
  margin-left: 20px;
}
