//variables
$primary-color: brown;
$secondary-color: burlywood;

//inheritance
%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

//scss
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
