@import "../../global.scss";
//scss
.book-container {
  @extend %flex-centered;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: $secondary-color;
  padding-top: 5vh;
  width: 100vw;
  min-height: 90vh;
}
