.book {
  background-color: rgb(248, 239, 185);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black 2pt solid;
  height: 325px;
  width: 200px;
  margin: 5vh;
}
